<!-- Home Page Goes here -->
<div class="container container-fixed">
<div class="jumbotron" id="blogheading">
  <h1>Hi...</h1>
  <p>...</p>
  <br><br>
</div>
<hr>
    <div class="row">
        <!-- main body content -->
        <div class="col-md-7 col-md-offset-1" style="background-color: #ffffff; padding:0px;">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/150x150" alt="150x150">
                    </a>
                </div>
                <div class="media-body" style="text-align: left;">
                    <h4 class="media-heading pull-left">A New Outlook<small>&nbsp;&nbsp;<br>By James Sandoval</small></h4><br><br><hr style="color:; padding:0px; margin:0px; opacity:0.5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <!-- new blog object -->
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/150x150" alt="150x150">
                    </a>
                </div>
                <div class="media-body" style="text-align: left;">
                    <h4 class="media-heading pull-left">Adventures in Media Land<small>&nbsp;&nbsp;<br>By James Sandoval</small></h4><br><br><hr style="color:; padding:0px; margin:0px; opacity:0.5">
                    
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <hr>
            <!-- new blog object -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.it/150x150" alt="150x150">
                    </a>
                </div>
                <div class="media-body" style="text-align: left;">
                    <h4 class="media-heading pull-left">Media heading<small>&nbsp;&nbsp;<br>By James Sandoval</small></h4><br><br><hr style="color:; padding:0px; margin:0px; opacity:0.5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <!-- next object -->
        <div class="col-md-3">
            <!-- Right Column goes here -->
            <div style=" position: relative; top:0px; ">
                <h3>Categories:</h3>
                <ul class="list-group ">
                    <li class="list-group-item ">Cras justo odio</li>
                    <li class="list-group-item ">Dapibus ac facilisis in</li>
                    <li class="list-group-item ">Morbi leo risus</li>
                    <li class="list-group-item ">Porta ac consectetur ac</li>
                    <li class="list-group-item ">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

