<!-- Home Page Goes here -->
<header>
    <div class="header-content">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:#ffffff; font-size:3em;"><strong>Software Engineer</strong></h2>
                <!--<hr width="100%">-->
                <p class="lead" style="font-size:2em">
                    <mark>portfolio | blog | programming lab</mark>
                </p>
                <!--<span class="glyphicon glyphicon-star" style="font-size: 40px; color:#ffffff"></span><br><br>-->
                <a href="#about">
                    <button class="btn btn-primary btn-lg page-scroll"><strong>Explore.</strong></button>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="bg-intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2" style="padding-bottom: 50px;">
                <h2 style="color:#0080FF"><strong>About Me</strong></h2>
                <p class="lead">I'm originally from Colorado Springs, and now living just North of Seattle on beautiful Whidbey Island. I have a small family, and I love the outdoors. My current interests include hardware hacking (playing with arduinos, rasberry pi, zigbee, and sdrs), coding - primarily in C++, and more recently javascript and python, accessing cool api's, and mining big data sets.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <h2 class="media-heading"><b>Blog</b></h2>
                            <p class="lead">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.</p>
                            <a href="/blog">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-tree-conifer"></span>
                                    <br> Read More
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <h2 class="media-heading"><b>Projects</b></h2>
                            <p class="lead">AI - Deep Learning. Web Development. Hardware Hacking. Data Mining. Algorithm Sets.</p>
                            <a href="#portfolio">
                                <button type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-refresh"></span>
                                    <br>Compiling...</button>
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <h2 class="media-heading"><b>Contact</b></h2>
                            <p class="lead">Let's work together. Maybe we can build something awesome.</p>
                            <a href="#contact">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <br> Contact Me
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 class="home-portfolio_heading"><b>Projects</b></h2>
                <hr style="color:#ffffff">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 style="color:#E28B42"><b>My Blog</b></h2>
                            <br>
                            <div class="column center-block">
                                <div class="shadow">
                                    <img src="./images/blogscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                </div>
                            </div>
                            <br>
                            <h5 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h5>
                            <h5 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h5>
                            <h5 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h5>
                            <br>
                            <div align="center">
                                <button type="button" class="btn btn-default btn-sm">Web App</button>&nbsp;
                                <button type="button" class="btn btn-default btn-sm">Github</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h2 style="color:#E28B42"><b>My Blog</b></h2>
                            <br>
                            <div class="column center-block">
                                <div class="shadow">
                                    <img src="./images/blogscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                </div>
                            </div>
                            <br>
                            <h5 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h5>
                            <h5 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h5>
                            <h5 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h5>
                            <br>
                            <div align="center">
                                <button type="button" class="btn btn-default btn-sm">Web App</button>&nbsp;
                                <button type="button" class="btn btn-default btn-sm">Github</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h2 style="color:#E28B42"><b>My Blog</b></h2>
                            <br>
                            <div class="column center-block">
                                <div class="shadow">
                                    <img src="./images/blogscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                </div>
                            </div>
                            <br>
                            <h5 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h5>
                            <h5 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h5>
                            <h5 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h5>
                            <br>
                            <div align="center">
                                <button type="button" class="btn btn-default btn-sm">Web App</button>&nbsp;
                                <button type="button" class="btn btn-default btn-sm">Github</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 align="center"><b>Contact Me</b></h2>
                <br>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="name" class="form-control" id="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-2 control-label">E-mail</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Message</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" name="message" placeholder="hi..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" align="center">
                            <button type="button" class="btn btn-default">Send Me A Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
