<!-- Home Page Goes here -->
<header>
    <div class="header-content">
        
            <h1>James...</h1>
            <p class="lead">
                <hr width="40%">
                <mark>Aspiring Software Engineer | Web Developer | Data Curator&nbsp;</mark>
                <br>
                <hr width="20%">
            </p>
            <a href="#about">
                <button class="btn btn-primary btn-lg page-scroll">Learn More.</button>
            </a>
            <hr width="7%">
            <span class="glyphicon glyphicon-star-empty" style="font-size:3.0em; color:#ffffff"></span>
    </div>
</header>
<section class="bg-intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>A little bit of history.</h2>
                <blockquote></blockquote>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading" style="color:#FFFF00">Who Am I?</h2>
                        <p class="lead" style="color:#ffffff">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.
                            <br><a href="#" style="color:#00FF00"><b>Learn More.</b></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading" style="color:#00FF00">Who Am I?</h2>
                        <p class="lead" style="color:#ffffff">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.
                            <br><a href="#" style="color:#00FF00"><b>Learn More.</b></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading" style="color:#00FFFF">Who Am I?</h2>
                        <p class="lead" style="color:#ffffff">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.
                            <br><a href="#" style="color:#00FF00"><b>Learn More.</b></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>portfolio</h2>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Contact Me</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
