<!-- Home Page Goes here -->
<header>
    <div class="header-content">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:#ffffff; font-size:3em;"><strong>James Sandoval</strong></h2>
                <!--<hr width="100%">-->
                <mark class="lead" style="font-size:2em">Software Engineer | Web Developer</mark>
                <br>
                <a href="#about">
                    <button class="btn btn-primary btn-lg page-scroll" style="margin:1em"><strong>learn more.</strong></button>
                    <br>
                    <br>
                    <br>
                </a>
            </div>
        </div>
    </div>
    <div id="photo-credit" class="text-right">
        <mark>Photo Credit: James Sandoval&nbsp;</mark>
    </div>
</header>
<section class="bg-intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2" style="padding-bottom: 50px;">
                <a href="/about"><h2 style="color:#0080FF"><strong>About Me</strong></h2></a>
                <p><span class="lead">Hi, My name is James. I'm an aspiring Software Engineer and full stack web developer. Some of my recent meanderings include building web apps, mastering data structures and algorithms, refining testing suites, and learning the google cloud platform . Some things I'd like to do more of include hardware hacking, expand my web dev skill set, build more apps, and contribute to more open source projects.</span><a href="/about"><b> Read More.</b></a> </p>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Blog</b></h2>
                            <p class="lead">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.</p>
                            <a href="/blog">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-tree-conifer"></span>
                                    <br> Read More
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Projects</b></h2>
                            <p class="lead">Web Development. Data Curation. Hardware Hacking. AI - Deep Learning. Visualization.</p>
                            <a href="#portfolio">
                                <button type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-refresh"></span>
                                    <br>Compiling...</button>
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Contact</b></h2>
                            <p class="lead">Let's work together. Maybe we can build something awesome.</p>
                            <a href="mailto:jamessandoval7@gmail.com@.com" target="_top">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <br> Contact Me
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
                
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 class="home-portfolio_heading"><b>Projects</b></h2>
                <hr style="color:#ffffff">
                <div class="container">
                    <div class="row">
                        <a href="/blog">
                            <div class="col-md-3">
                                <h2 style="color:#E28B42"><b>Blog</b></h2>
                                <br>
                                <div class="column center-block">
                                    <div class="shadow">
                                        <img src="./images/blogscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                    </div>
                                </div>
                                <br>
                                <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h4>
                                <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h5>
                            <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h4>
                                <br>
                                <div align="center">
                                    <button type="button" class="btn btn-default btn-sm">Web App</button>
                                    <br>
                                    <a href="https://github.com/jamessandoval/WebLab">Github</a>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-3">
                            <a href="/algos">
                                <h2 style="color:#E28B42"><b>Algorithms</b></h2>
                                <br>
                                <div class="column center-block">
                                    <div class="shadow">
                                        <img src="./images/algorithmsscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                    </div>
                                </div>
                                <br>
                                <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Software Engineer</small></h4>
                                <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">C++, STL, C, Javascript, Python, Matlab, SublimeText, Xcode, GNU, Linux, Vim, Bash</small></h4>
                                <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An Ongoing project to build out an extensive array of algorithms in various languages to refine engineering proficiency.</small></h4>
                                <br>
                                <div align="center">
                                    <button type="button" class="btn btn-default btn-sm">Web App</button>
                                    <br>
                                    <a href="https://github.com/jamessandoval/Algorithms">Github</a>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://github.com/jamessandoval/Games-CPP/tree/master/adventureText">
                                <h2 style="color:#E28B42"><b>Adventure Text</b></h2>
                                <br>
                                <div class="column center-block">
                                    <div class="shadow">
                                        <img src="./images/textscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                    </div>
                                </div>
                                <br>
                                <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Software Engineer</small></h4>
                                <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">C++, C, Bash, linux, Xcode, GNU, STL template library, Custom Data Structures.</small></h4>
                                <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">A command line game designed based off of the old command line games when pcs were still in their infancy. No web app for this one!</small></h4>
                                <br>
                                <div align="center">
                                    <button type="button" class="btn btn-default btn-sm">Github</button>
                                    <br>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <!--<a href="#contact" id="contactbutton">
                <button type="button" class="btn btn-success btn-lg center-block">Contact Me</button>
                </a>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 align="center"><b>Current Projects:</b></h2>
                <h4 align="center"><b>Perseus Web Crawler.</b></h4>
                <h4 align="center"><b>Google Cloud API</b></h4>
                <h4 align="center"><b>Web Lab</b></h4>
                <h4 align="center"><b>Algo Sets</b></h4>
                <br>
                <h2 align="center"><b>Coming Soon:</b></h2>
                <h4 align="center"><b>Matrix Smart Home Solution</b></h4>
                <h4 align="center"><b>Web Lab 2.0</b></h4>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a href="https://github.com/jamessandoval/perseus-webapp">
                    
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>