<!-- Home Page Goes here -->
<header>
    <div class="header-content">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:#ffffff; font-size:3em;"><strong>James Sandoval</strong></h2>
                <!--<hr width="100%">-->
                <mark class="lead" style="font-size:2em">Software Developer</mark>
                <br>

                <a href="#about">
                    <button class="btn btn-primary btn-lg page-scroll" style="margin:1em"><strong>learn more.</strong></button>
                    <br>
                    <br>
                    <br>
                </a>
            </div>
        </div>
    </div>
    <div id="photo-credit" class="text-right"><mark>Photo Credit: James Sandoval&nbsp;</mark></div>
</header>
<section class="bg-intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2" style="padding-bottom: 50px;">
                <a href="/about"><h2 style="color:#0080FF"><strong>About Me</strong></h2></a>
                <p><span class="lead">Hi, My name is James. I'm an aspiring Software Engineer and full stack web developer. Some of my recent interests include building web apps, mastering data structures and algorithms, and contributing to Open Source software. Some things I'd like to do more of include hardware hacking, expand my web dev skill set, build more apps, and contribute to more open source projects.</span><a href="/about"><b> Read More.</b></a> </p>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Blog</b></h2>
                            <p class="lead">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.</p>
                            <a href="/blog">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-tree-conifer"></span>
                                    <br> Read More
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Projects</b></h2>
                            <p class="lead">Web Development. Data Curation. Hardware Hacking. AI - Deep Learning. Algorithm Sets.</p>
                            <a href="#portfolio">
                                <button type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-refresh"></span>
                                    <br>Compiling...</button>
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="text-center">
                        <div class="media-body">
                            <br>
                            <h2 class="media-heading"><b>Contact</b></h2>
                            <p class="lead">Let's work together. Maybe we can build something awesome.</p>
                            <a href="#contact">
                                <button type="button" class="btn btn-md btn-success">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <br> Contact Me
                                </button>
                                <br>
                                <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 class="home-portfolio_heading"><b>Projects</b></h2>
                <hr style="color:#ffffff">
                <div class="container">
                    <div class="row">
                        <a href="/blog">
                            <div class="col-md-3">
                                <h2 style="color:#E28B42"><b>Blog</b></h2>
                                <br>
                                <div class="column center-block">
                                    <div class="shadow">
                                        <img src="./images/blogscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                    </div>
                                </div>
                                <br>
                                <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h4>
                                <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h5>
                            <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h4>
                                <br>
                                <div align="center">
                                    <button type="button" class="btn btn-default btn-sm">Web App</button>
                                    <br>
                                    <a href="#">Github</a>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-3">
                            <a href="/algos">
                                <h2 style="color:#E28B42"><b>Algorithms</b></h2>
                                <br>
                                <div class="column center-block">
                                    <div class="shadow">
                                        <img src="./images/algorithmsscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                    </div>
                                </div>
                                <br>
                                <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h4>
                                <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h4>
                                <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h4>
                                <br>
                                <div align="center">
                                    <button type="button" class="btn btn-default btn-sm">Web App</button>
                                    <br>
                                    <a href="#">Github</a>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <h2 style="color:#E28B42"><b>Adventure Text</b></h2>
                            <br>
                            <div class="column center-block">
                                <div class="shadow">
                                    <img src="./images/textscreencapture.jpg" class="project-img-responsive img-circle" alt="blog">
                                </div>
                            </div>
                            <br>
                            <h4 style="color:#E28B42"><b>Role: </b> <small style="color:#E6E6E6">Full Stack Developer</small></h4>
                            <h4 style="color:#E28B42"><b>Tools: </b> <small style="color:#E6E6E6">Node.js, Express, Mocha, Javascript, Jquery, Angular, HTML, CSS, Github, MongoDB, SublimeText</small></h4>
                            <h4 style="color:#E28B42"><b>Description: </b> <small style="color:#E6E6E6">An awesome fully functional blog, and web programming lab - used as a tool to show off my work and continue to explore new technologies.</small></h4>
                            <br>
                            <div align="center">
                                <button type="button" class="btn btn-default btn-sm">Web App</button>
                                <br>
                                <a href="#">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr style="color:#ffffff">
                <br>
                <!--<a href="#contact" id="contactbutton">
                <button type="button" class="btn btn-success btn-lg center-block">Contact Me</button>
                </a>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 align="center"><b>Contact Me</b></h2>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="name" class="form-control" id="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-2 control-label">E-mail</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Message</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" name="message" placeholder="hi..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" align="center">
                            <button type="button" class="btn btn-default">Send Me A Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
