<!-- Home Page Goes here -->
<header>
    <div class="header-content">
        
            <h2><b>{Web Programmer}{Software Developer}{Data Curator}</b></h2>
           
                <hr width="100%">
             <p class="lead">Welcome to my personal site, which is currently a portfolio, blog, and programming lab.  Currently, it's built using express, handlebars, and a sufficient amount of javascript that I wrote. I intended this to be a project which incorporated many of the features of common websites without going the easy route. So, first and foremost, this website is a place for experimentation. If you do happen to look at some of the source code you'll find some non-standard stuff...that's just for fun!</p>
             <span class="glyphicon glyphicon-star" style="font-size: 40px"></span>
             <p class="lead">Feel free to have a look around.</p>
            <a href="#about">
                <button class="btn btn-primary btn-lg page-scroll">Explore.</button>
            </a>

    </div>
</header>
<section class="bg-intro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>About Me</h2>
                <p class="lead">I'm originally from Colorado Springs, and now living just North of Seattle on beautiful Whidbey Island. I have a small family, and I love the outdoors. My current interests include hardware hacking (playing with arduinos, rasberry pi, zigbee, and sdrs), coding - primarily in C++, and more recently javascript and python, accessing cool api's, and mining big data sets.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-about">
    <div class="container">
        <div class="row">
        <div class="col-md-12"><br></div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Blog</h2>
                        <p class="lead">Husband. Father. Coder. Outdoorsman. Hacker. Tinkerer.</p>
                            <a href="/blog">
                                <button type="button" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon glyphicon-pencil"></span><br>
                                Read More
                                </button> 
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Projects</h2>
                        <p class="lead" >AI - Deep Learning. Hardware Hacking. Data Mining. Algorithm Sets.</p>
                            <a href="#">
                                <button type="button" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-scissors"></span><br>
                                Learn More
                                </button> 
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Contact</h2>
                        <p class="lead">Let's work together. Maybe we can build something awesome.</p>
                            <a href="#">
                                <button type="button" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-phone-alt"></span><br>
                                Contact Me
                                </button> 
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="bg-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>portfolio</h2>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
<section class="bg-contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Contact Me</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
