<div id="container">
    <div class="row">
        <div class="col-md-12 resume-bg">
            <object data="../images/resume.pdf" type="application/pdf" width="100%" height="800px">
                <p>No plugin. No problem. <a href="resume.pdf">Download my resume instead.(it's a pdf.)</a></p>
            </object>
        </div>
    </div>
</div>
