body,
html {
    height: 100%;
    width: 100%;
}


/*navbar background override */

.navbar {
    /* background-color: #004080; */
}

.navbar-header-custom{
    position:relative;
    top:0px;
    z-index:5;
    background-color: #191919;
    border-bottom:1px dashed #7F7F7F;
    padding-top:12px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.nav-logo {
    margin-left:2%; 
}

.nav-container {
    padding-left: 2%;

}

.navbar-menu {
     margin-left:10%; 
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 0px solid transparent !important;
}

.navbar-secondary {
    background-color: #004080;

}

.navbar-social {
    display:inline-block;
    margin-right: 10px;
    border-left:1px dashed #7F7F7F;
    width:130px;
}

.sp-padding {
    padding: 10px;
}

.hidden {
    display: none !important;
}

#editCategoryBlock {
    display: none;
}



.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#map {
    border: solid #B4B4B4 1px;
    height: 400px;
    width: 700px;
    /*background: url(../images/ajax-loader.gif) transparent no-repeat center center;*/
}

.navbar {
    /* border-bottom:2px solid #E6E6E6; */
}



.alert{
    position: relative;
    z-index:100;
    text-align: center
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/seattleflyby.jpg") ;
    min-height: 100%;
    top: -70px;
    position: relative;
    color: #FF6666;
    background-color: #333333;
    opacity: 0;
    /*text-shadow: 2px 2px #333333; */
}

#photo-credit{
    position: absolute;
    bottom:0px;
    padding-right: 1em;
    width: 100%;
    color:#ffffff;
    font-size:.7em;
}

#photo-credit mark {
    background-color: #4C4C4C;
    opacity: .7;
    color:#ffffff;
}


header .header-content {
    padding: 110px;
}

.header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.header-content {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 80%;
    text-align: center;
}

header h1,
{}

header hr {
    height: 2px;
    /* border: 0; */
    /* border-top: 2px solid #ffffff; */
}

header mark {
    color: #4C4C4C;
    background-color: #FFFFFF;
    opacity: .9;
    font-weight: 500;
}

header mark {
    color: #4C4C4C;
    background-color: #FFFFFF;
    opacity: .9;
    font-weight: 500;
}

header .submark {
    color: #4C4C4C;
    background-color: #FFFFFF;
    opacity: .5;
    font-weight: 500;
}

section {
    padding: 0px 10px;
}

.bg-about {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    min-height: 50%;
    border-top: 2px solid #666666;
}

.bg-portfolio {
    position: relative;
    background-color:#004080;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index:-2;
}

.bg-contact {
    background-color: #E6E6E6;
    color: #4C4C4C;
    margin: 0 auto;
    width: 100%;
    min-height: 50%;
}

.bg-intro {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    min-height: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("/images/seattlesecondary.jpg");
}

.whoami {
    background-color: #CCCCCC;
    opacity: .5;
    margin: 0 auto;
    width: 100%;
    min-height: 30%;
    background-size: cover;
}

.home-portfolio_heading {
    color:#ffffff;
}

.home-portfolio_subheading{
    color:#E28B42;
}

.project-img-responsive {
    position: relative;
    z-index: -1;
    max-width: 100%;
    height: auto;
}



.shadow {
    position: relative;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.shadow:hover {
    position: relative;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
}

.social:hover {
    -moz-box-shadow: #E6E6E6 5px 5px 55px inset;
    -webkit-box-shadow: #E6E6E6 5px 5px 55px inset;
    box-shadow: #E6E6E6 5px 5px 55px inset;
     -webkit-border-radius: 50%;
     -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;


}

.column {
    width: 80%;
    height: 80%
}

#cfooter {
    background-color: rgb(34, 34, 34);
    border-color: rgb(8, 8, 8);
    margin: 0 auto;
    width: 100%;
    min-height: 50%;
}

.thumbnailh2 h2 {
    width: 350px;
    opacity: 1.0;
}

.thumbnailh2 {
    z-index: 100;
    position: relative;
    top: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none !important;
}

#blogheading {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/blogheading.jpg");
    opacity: 0;
}

.blog-post-heading a:hover a:focus {
    color: #333333;
}

.blog-post-heading a {
    color: #333333;
}

.list-group {
    opacity: 0.7 !important;
    font-weight: bold;
}

#paperwhite {
    box-shadow: 3px 3px 3px #999999;
    margin-top: 17px;
    margin-left: 12px;
    background-color: #ffffff;
    border-radius: 5px;
}

.paperwhite-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 5px;
}

.categoryName {
    width: 50%;
    word-wrap: break-word;
}

/* Algorithms Page */

.jumbotron {
    opacity: 0;
}


/* Resume Page */



.resume-bg {

    background-color: #525659;
}

