
body, html {
    height:100%;
    width:100%;
}

/*navbar background override */
.navbar {

/* background-color: #004080; */

}

.sp-padding{
    padding:10px;
}

.hidden{

    display: none !important;
}

#editCategoryBlock{
    display: none;
}

.logocontainer {
    height:150px;
    width:150px;
    margin-right: auto;
    margin-left: auto;
    background: url(/images/newlogomain2.png);
    background-size:contain;
    background-repeat:no-repeat;
    position: relative;
    top:165px;
    
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#map {
    border: solid #B4B4B4 1px;
    height: 400px;
    width: 700px;
    /*background: url(../images/ajax-loader.gif) transparent no-repeat center center;*/
}

header{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url("../images/seattleflyby.jpg");
    min-height: 100%;
    top:-35px;
    position: relative;
    color:#FF6666;
    
     /*text-shadow: 2px 2px #333333; */
}

.navbar {
   /* border-bottom:2px solid #E6E6E6; */

}

header .header-content {
    padding: 110px;
     
}

.header-content-inner{
    margin-right: auto;
    margin-left:auto;
    max-width: 1000px;
}

.header-content{
    margin-right: auto;
    margin-left:auto;
    position:relative;
    width:80%;
    text-align:center;
}

header h1,{

}

header hr{
    height: 2px;
    /* border: 0; */
    /* border-top: 2px solid #ffffff; */

}

header mark{
    color:#4C4C4C;
    background-color:#FFFFFF; 
    opacity: .9;
    font-weight: 500;

}

header mark {
    color:#4C4C4C;
    background-color:#FFFFFF; 
    opacity: .9;
    font-weight: 500;

}

header .submark{
    color:#4C4C4C;
    background-color:#FFFFFF; 
    opacity: .5;
    font-weight: 500;
}

section{
    padding: 0px 10px;
}

.bg-about{
  background-color:#FFFFFF;
  margin: 0 auto;
  width: 100%;
  height: 50%;

}

.bg-portfolio{
 background-color:#66CCFF;
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.bg-contact{
  background-color:#004080;
  color:#CCCCCC;
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.bg-intro{
  background-color:#FFFFFF;
  margin: 0 auto;
  width: 100%;
  height: 50%;
  -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    background-position:center;
  background-image: url("../images/seattlesecondary.jpg");
  border-bottom:2px solid #333333 !important; 
}

.thumbnailh2 h2 {
    width: 350px;
    opacity: 1.0;
}

.thumbnailh2 {
    z-index: 100;
    position: relative;
    top: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none !important;
}

#blogheading{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    background-position:center;
  background-image: url("../images/blogheading.jpg");

}

.blog-post-heading a:hover a:focus{

    color:#333333;

}

.blog-post-heading a {

    color:#333333;

}


.list-group {
    opacity: 0.7 !important;
    font-weight: bold;
}

#paperwhite {
    box-shadow: 3px 3px 3px #999999;
    margin-top: 17px;
    margin-left: 12px;
    background-color: #ffffff;
    border-radius: 5px;
}

.paperwhite-form {
	margin-top:20px;
    padding:20px;
    border:1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 5px;
}

.categoryName{

    width:50%;
    word-wrap: break-word;


}

#cfooter {
    background-color: rgb(34, 34, 34);
    border-color: rgb(8, 8, 8);
    margin: 0 auto;
    width: 100%;
    height: 50%;
}
